body {
	margin: 0;
	user-select: none;
}

#mario {
	background: #000;
	width: 800px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

label {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.score, .level {
	position: absolute;
	font-size: 21px;
	left: 10px;
}

.level {
	top: 10px;
}

.score {
	top: 40px;
}

.game-over {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 21px;
	color: #fff;
	display: none;

	&.visible {
		display: block;
	}
}
